<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Kisan Ledger"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.KisanLedger">
        <activity android:name=".activities.SettingsActivity" />
        <activity android:name=".activities.BackupRestoreActivity" />
        <activity android:name=".activities.DiaryActivity" />
        <activity android:name=".activities.ReportsActivity" />
        <activity android:name=".activities.WateringActivity" />
        <activity android:name=".activities.FertilizerActivity" />
        <activity android:name=".activities.ExpenseActivity" />
        <activity android:name=".activities.AddFieldActivity" />
        <activity android:name=".activities.FieldListActivity" />
        <activity android:name=".activities.OnboardingActivity" />
        <activity android:name=".activities.MainActivity" />
        <activity
            android:name=".activities.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
